.title {
  text-align: center;
  margin: 30px auto 20px;
  width: 90%;

  font-family: 'Raleway', sans-serif;
  line-height: 1.5;

  &--left {
    text-align: left;
    margin-top: 60px;
  }
}

.subtitle {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  &--left {
    text-align: left;
    margin: 20px;
  }
}