$primary-one: hsl(217, 28%, 15%);
$primary-two: hsl(218, 28%, 13%);
$primary-three: hsl(216, 53%, 9%);
$primary-four: hsl(219, 30%, 18%);

$secondary-one: hsl(176, 68%, 64%);
$secondary-two: hsl(198, 60%, 50%);

$neutral-one: hsl(0, 0%, 100%);